body{
    margin:0;
    font-family:'Courier New', monospace;
    background:#0b0f1a;
    color:#00ffcc;
}

nav{
    background:#111827;
    padding:15px;
    text-align:center;
}

nav a{
    color:#00ffcc;
    margin:0 15px;
    text-decoration:none;
    font-weight:bold;
}

nav a:hover{
    color:white;
}

header{
    text-align:center;
    padding:80px 20px;
}

.logo{
    width:260px;
    transition:0.6s;
}

.active .logo{
    transform:scale(1.1);
    filter:drop-shadow(0 0 25px #00ffcc);
}

button{
    margin-top:20px;
    background:black;
    border:1px solid #00ffcc;
    color:#00ffcc;
    padding:10px 20px;
    cursor:pointer;
}

button:hover{
    background:#00ffcc;
    color:black;
}

.system-message{
    margin-top:20px;
    font-size:18px;
    display:none;
}

.active .system-message{
    display:block;
}

section{
    padding:60px 20px;
    text-align:center;
}

.card{
    border:1px solid #00ffcc;
    padding:20px;
    margin:20px auto;
    max-width:400px;
    transition:0.3s;
    cursor:pointer;
}

.card:hover{
    background:#00ffcc;
    color:black;
}

.social-box{
    display:none;
    margin-top:15px;
    justify-content:center;
    gap:20px;
}

.member.active .social-box{
    display:flex;
}

.social-box a{
    font-size:22px;
    text-decoration:none;
    color:#00ffcc;
}

.social-box a:hover{
    color:white;
}

footer{
    text-align:center;
    padding:20px;
    background:#111827;
}
